body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.846;
  color: #555;
  background-color: #fff;
}
.container {
  margin: 0 10%;
  max-width: 944px;
  min-width: 685px;
}
.notifications {
  position: fixed;
  min-width: 200px;
  overflow-y: visible;
  overflow-x: visible;
  height: 500px;
  top: 5%;
  right: 5%;
  width: 40%;
  margin: 0;
  padding: 0;
}
.notification {
  margin: 10px 0;
  padding: 0;
  position: static;
  display: block;
  border-radius: 2px;
  -webkit-box-shadow: -2px 2px 3px #999;
  box-shadow: -2px 2px 3px #999;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  max-height: 96px;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  background-color: hsla(0, 0%, 78%, 0.85);
  color: rgba(0, 0, 0, 0.67);
  -webkit-animation: animNotif linear 1s;
  animation: animNotif linear 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.notification-success {
  background-color: #31b949;
}
.notification-error {
  background-color: #b92424;
}
.notification-info {
  background-color: #dd19d2;
}
.notification-warning {
  background-color: #f49f13;
}
.notification__title {
  font-weight: 700;
  float: left;
  margin: 0 0 auto;
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  width: 20%;
}
.notification__content {
  float: left;
  position: relative;
  right: 0;
}
.notification__close {
  display: inline-block;
  right: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
  color: transparentrgba(0, 0, 0, 0.75);
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 11.5px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 16px;
}
.notification__close a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.notification__progress_bar {
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: hsla(0, 0%, 100%, 0.6);
  height: 3px;
  position: absolute;
  width: 0;
  -webkit-animation: widthClose ease 5s;
  animation: widthClose ease 5s;
}
@-webkit-keyframes widthClose {
  0% {
    width: 100%;
  }
  10% {
    width: 100%;
  }
  90% {
    width: 0;
  }
  to {
    width: 0;
  }
}
@keyframes widthClose {
  0% {
    width: 100%;
  }
  10% {
    width: 100%;
  }
  90% {
    width: 0;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes animNotif {
  0% {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    opacity: 0;
  }
}
@keyframes animNotif {
  0% {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    opacity: 0;
  }
}
.table__body {
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
.table__container {
  position: relative;
  top: 0;
}
.slide {
  -webkit-animation: slide 2s;
  animation: slide 2s;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-56.6px);
    transform: translateY(-56.6px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-56.6px);
    transform: translateY(-56.6px);
  }
}
.horaire_bus table,
.horaire table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.horaire tbody {
  position: relative;
  display: block;
  overflow: visible;
  height: 283px;
  z-index: 0;
}
.horaire_bus td,
.horaire_bus th,
.horaire td,
.horaire th {
  height: 41px;
  line-height: 41px;
  text-align: center;
  padding: 8px;
}
.horaire tr {
  border-bottom: 3px solid #bbb;
}
.horaire .pair {
  background-color: #efcaca;
}
.bus__tr,
.horaire:not(.pair) {
  background-color: #fff;
}
.bus__tr {
  border-bottom: 3px solid #bbb;
}
.horaire_bus tr:last-child,
.horaire tr:last-child {
  border-bottom: none;
}
.left {
  text-align: left;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}
.time {
  position: relative;
  top: 2.5px;
  bottom: 2.5px;
  background-color: #000;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  font-weight: 700;
  color: #e3c72f;
  border-radius: 3px;
  padding: 2px;
  margin-left: 15px;
  width: 85px;
  font-size: 22px;
}
.code,
.time {
  text-align: center;
}
.code {
  width: 120px;
  font-family: Lucida Console, Monaco, monospace;
  font-size: 20px;
}
.code span {
  border-radius: 5px;
  border: 1px solid #222;
  position: relative;
  text-align: center;
  padding: 4px 7px;
  text-decoration: none;
  color: #000;
}
.code span a {
  text-decoration: none;
  color: inherit;
}
.bus__destination,
.direction {
  width: 400px;
  font-weight: 700;
  color: #2c63a6;
  text-align: left;
  font-size: 23px;
}
.bus__destination {
  position: relative;
  left: 60px;
}
.message {
  width: 42%;
  font-size: 25px;
  color: #fff;
  position: relative;
}
.message__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 4px;
  width: 100%;
  background-color: #444;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -2px 2px 3px #666;
  box-shadow: -2px 2px 3px #666;
}
.bus__message__content {
  background-color: #000;
  color: #e3c72f;
  font-size: 25px;
  font-weight: 700;
  padding: 8px;
  border-radius: 7px;
}
.message__time {
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 10px 0 0 10px;
  padding: 0 8px;
  color: #e3c72f;
}
.message__time,
.voie {
  height: 52px;
  line-height: 52px;
  position: absolute;
  font-weight: 700;
  display: inline-block;
}
.voie {
  text-align: center;
  color: #fff;
}
.horaire {
  z-index: 99999;
  overflow: visible;
}
.horaire,
.horaire_bus {
  border: 2px solid #444;
  border-radius: 10px;
}
.table__header {
  border-bottom: 5px solid red;
  -webkit-box-shadow: 0 4px 4px #ccc;
  box-shadow: 0 4px 4px #ccc;
  height: 100px;
  line-height: 100px;
  z-index: 999;
  overflow: hidden;
}
.bus52__table__header {
  border-bottom: 5px solid #82c8e6;
}
.bus52__table__header,
.bus73__table__header {
  -webkit-box-shadow: 0 4px 4px #000;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}
.bus73__table__header {
  border-bottom: 5px solid #6e491e;
}
.metro9__table__header {
  border-bottom: 5px solid #d2d200;
}
.metro6__table__header,
.metro9__table__header {
  -webkit-box-shadow: 0 4px 4px #000;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}
.metro6__table__header {
  border-bottom: 5px solid #82dc73;
}
.table__header__dir {
  left: 20px;
}
.bus__table__header__dir,
.table__header__dir {
  position: relative;
  color: #2c63a6;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 0 4px #888;
}
.bus__table__header__dir {
  left: 30px;
}
.table__header__img {
  height: 80px;
  width: 80px;
  top: 10px;
  bottom: 10px;
}
.bus__table__header__img,
.table__header__img {
  position: relative;
  display: inline-block;
  left: 15px;
}
.bus__table__header__img {
  height: 70px;
  top: 15px;
  bottom: 15px;
  border-radius: 2px;
}
.blink {
  -webkit-animation: blink 2s infinite;
  animation: blink 2s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
