/*
* GENERAL
*/

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.846;
  color: #555555;
  background-color: #ffffff;
}

/*
* NOTIFICATIONS
*/

.notifications {
  position: fixed;
  min-width: 200px;
  overflow-y: visible;
  overflow-x: visible;
  height: 500px;
  top: 5%;
  right: 5%;
  width: 40%;
  margin: 0;
  padding: 0;
}

.notification {
  margin: 10px 0;
  padding: 0;
  position: static;
  display: block;
  border-radius: 2px;
  box-shadow: -2px 2px 3px #999;
  overflow: hidden;
  transition: 500ms;
  width: 100%;
  max-width: 400px;
  min-height: 48px;
  max-height: 96px;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  background-color: rgba(200, 200, 200, 0.85);
  color: rgba(0, 0, 0, 0.67);
  animation: animNotif linear 1s;
  animation-fill-mode: forwards;
}

.notification-success {
  background-color: rgba(49, 185, 73, 1);
}

.notification-error {
  background-color: rgba(185, 36, 36, 1);
}

.notification-info {
  background-color: rgba(221, 25, 210, 1);
}

.notification-warning {
  background-color: rgba(244, 159, 19, 1);
}

.notification__title {
  // display: inline-block;
  font-weight: bold;
  float: left;
  margin: 0 0 auto 0;
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  width: 20%;
}

.notification__content {
  // display: inline-block;
  float: left;
  position: relative;
  right: 0;
}

.notification__close {
  display: inline-block;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: transparentrgba(0, 0, 0, 0.75);
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 11.5px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
}

.notification__close a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.notification__progress_bar {
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
  position: absolute;
  width: 0;
  animation: widthClose ease 5s;
}

// .notification-large {

// }

@keyframes widthClose {
  0% {
    width: 100%;
  }
  10% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes animNotif {
  0% {
    transform: translateX(75px);
    opacity: 0;
  }
  40% {
    transform: translateX(0px);
    opacity: 1;
  }
  60% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(75px);
    opacity: 0;
  }
}

/*
* HORAIRES
*/

.table__body {
  overflow: hidden;
}

.table__container {
  position: relative;
  top: 0;
}

.slide {
  animation: slide 2s;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-56.6px);
  }
}

.horaire table,
.horaire_bus table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.horaire tbody {
  position: relative;
  display: block;
  overflow: visible;
  height: 283px;
  // transform: translateY(-56.6px);
  z-index: 0;
}

.horaire td,
.horaire th,
.horaire_bus td,
.horaire_bus th {
  height: 41px;
  line-height: 41px;
  /*border-top: : 3px solid #bbbbbb;*/
  text-align: center;
  padding: 8px;
}

.horaire tr {
  border-bottom: 3px solid #bbbbbb;
}

.horaire .pair {
  background-color: rgb(239, 202, 202);
}

.horaire:not(.pair) {
  background-color: #FFF;
}

.bus__tr {
  background-color: #fff;
  border-bottom: 3px solid #bbbbbb;
}

.horaire tr:last-child,
.horaire_bus tr:last-child {
  border-bottom: none;
}

.left {
  text-align: left;
  width: 100%;
  position: sticky;
}

.time {
  position: relative;
  top: 2.5px;
  bottom: 2.5px;
  background-color: #000;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  font-weight: bold;
  color: #e3c72f;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  margin-left: 15px;
  width: 85px;
  font-size: 22px;
}

.code {
  text-align: center;
  width: 120px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
}

.code span {
  border-radius: 5px;
  border: 1px solid #222;
  position: relative;
  text-align: center;
  padding: 4px 7px;
  text-decoration: none;
  color: #000;
}

.code span a {
  text-decoration: none;
  color: inherit;
}

.direction {
  width: 400px;
  font-weight: bold;
  color: #2c63a6;
  text-align: left;
  font-size: 23px;
}

.bus__destination {
  position: relative;
  width: 400px;
  font-weight: bold;
  color: #2c63a6;
  text-align: left;
  left: 60px;
  font-size: 23px;
}

.message {
  width: 42%;
  font-size: 25px;
  color: #fff;
  position: relative;
}

.message__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 4px;
  width: 100%;
  background-color: #444444;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 2px 3px #666;
}

.bus__message__content {
  background-color: #000;
  color: #e3c72f;
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
  border-radius: 7px;
}

.message__time {
  height: 52px;
  line-height: 52px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 10px 0 0 10px;
  padding: 0 8px;
  font-weight: bold;
  color: #e3c72f;
  display: inline-block;
}

.voie {
  height: 52px;
  line-height: 52px;
  position: absolute;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: #fff;
}

.horaire {
  border: 2px solid #444444;
  border-radius: 10px;
  z-index: 99999;
  overflow: visible;
}

.horaire_bus {
  border: 2px solid #444444;
  border-radius: 10px;
}

.table__header {
  border-bottom: 5px solid #f00;
  box-shadow: 0 4px 4px #CCC;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  z-index: 999;
  overflow: hidden;
}

.bus52__table__header {
  border-bottom: 5px solid #82c8e6;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.bus73__table__header {
  border-bottom: 5px solid #6e491e;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.metro9__table__header {
  border-bottom: 5px solid #d2d200;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.metro6__table__header {
  border-bottom: 5px solid #82dc73;
  box-shadow: 0 4px 4px #000;
  z-index: 999;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.table__header__dir {
  position: relative;
  color: #2c63a6;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  left: 20px;
  text-shadow: 0 0 4px #888;
}

.bus__table__header__dir {
  position: relative;
  color: #2c63a6;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  left: 30px;
  text-shadow: 0 0 4px #888;
}

.table__header__img {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  top: 10px;
  bottom: 10px;
  left: 15px;
}

.bus__table__header__img {
  position: relative;
  display: inline-block;
  height: 70px;
  top: 15px;
  bottom: 15px;
  left: 15px;
  border-radius: 2px;
}

/*
* SLIDER
*/

.slide-top {
  animation: slideTop 2;
}

@keyframes slideTop {
  0% {
    transform: translateY() (0);
  }
  to {
    transform: translateY(-56.6px);
  }
}
